<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="18.1.7" targetFramework="net45" />
  <package id="DevExpress.Data.de" version="18.1.7" targetFramework="net45" />
  <package id="DevExpress.Xpo" version="18.1.7" targetFramework="net45" />
  <package id="DevExpress.Xpo.de" version="18.1.7" targetFramework="net45" />
</packages>